# Configuration file

entitiesalwaysinfernal {
	B:BlueSlime=false
	B:EntityAnt=false
	B:EntityArmorCreeper=false
	B:EntityBlitz=false
	B:EntityCaveSpider=false
	B:EntityCreeper=false
	B:EntityDoomCreeper=false
	B:EntityEnderman=false
	B:EntityFireSkeleton=false
	B:EntityFishingZombie=false
	B:EntityGiantSpider=false
	B:EntityGiantZombie=false
	B:EntityGravityCreeper=false
	B:EntityHuman=false
	B:EntityHungryZombie=false
	B:EntityJumpingCreeper=false
	B:EntityLivingArmor=false
	B:EntityMiniCreeper=false
	B:EntityMiniEnderman=false
	B:EntityMummy=false
	B:EntityPaleSpider=false
	B:EntitySkeleton=false
	B:EntitySpider=false
	B:EntitySpitfireSkeleton=false
	B:EntitySplittingCreeper=false
	B:EntityThiefSkeleton=false
	B:EntityWitch=false
	B:EntityZombie=false
	B:EntityZombieVillager=false
	B:Entity_SpecialCreeper=false
	B:Entity_SpecialEnderman=false
	B:Entity_SpecialSkeleton=false
	B:Entity_SpecialSpider=false
	B:Entity_SpecialWitch=false
	B:Entity_SpecialZombie=false
	B:MoCEntitySilverSkeleton=false
	B:MoCEntityWerewolf=false
}

entitybasehealth {
	D:EntityHuman=20.0
	D:EntityInfestedVillager=4.0
	D:EntitySkeleton=20.0
	D:Entity_SpecialCreeper=20.0
	D:Entity_SpecialSkeleton=20.0
	D:Entity_SpecialSpider=16.0
}

general {
	I:AntiMobFarmCheckInterval=30
	B:AntiMobfarmingEnabled=true
	B:"MM_1UP enabled"=true
	B:"MM_Alchemist enabled"=true
	B:"MM_Berserk enabled"=true
	B:"MM_Blastoff enabled"=true
	B:"MM_Bulwark enabled"=true
	B:"MM_Choke enabled"=true
	B:"MM_Cloaking enabled"=true
	B:"MM_Darkness enabled"=true
	# !! MODIFIED !! [default: true]
	B:"MM_Ender enabled"=true
	B:"MM_Exhaust enabled"=true
	B:"MM_Fiery enabled"=true
	B:"MM_Ghastly enabled"=true
	B:"MM_Gravity enabled"=true
	B:"MM_Lifesteal enabled"=true
	B:"MM_Ninja enabled"=true
	B:"MM_Poisonous enabled"=true
	B:"MM_Quicksand enabled"=true
	B:"MM_Regen enabled"=true
	B:"MM_Rust enabled"=true
	B:"MM_Sapper enabled"=true
	B:"MM_Sprint enabled"=true
	B:"MM_Sticky enabled"=true
	B:"MM_Storm enabled"=true
	B:"MM_Vengeance enabled"=true
	B:"MM_Weakness enabled"=true
	B:"MM_Webber enabled"=true
	B:"MM_Wither enabled"=true
	B:disableGUIoverlay=false
	# !! MODIFIED !!
	S:droppedItemIDsElite=AgriCraft:seedPotato,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
	# !! MODIFIED !!
	S:droppedItemIDsInfernal=ThermalExpansion:Frame:0,Thaumcraft:ItemPickThaumium,AWWayofTime:weakBloodShard,diamond-0-3,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
	# !! MODIFIED !!
	S:droppedItemIDsUltra=ThermalFoundation:armor.plateSilver,ThermalFoundationBucket:5,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
	I:eliteRarity=15
	# !! MODIFIED !! [default: 5]
	I:infernoRarity=7
	D:maxOneShotDamage=10.0
	D:mobFarmDamageThreshold=150.0
	S:mobHealthFactor=1.0
	I:ultraRarity=7
	B:useSimpleEntityClassnames=true
}

permittedentities {
	B:BlueSlime=true
	B:EntityAnt=true
	B:EntityArmorCreeper=true
	B:EntityBlitz=true
	B:EntityCaveSpider=true
	B:EntityCreeper=true
	B:EntityDoomCreeper=true
	B:EntityEnderman=true
	B:EntityFireSkeleton=true
	B:EntityFishingZombie=true
	B:EntityGiantSpider=true
	B:EntityGiantZombie=true
	B:EntityGravityCreeper=true
	B:EntityHuman=true
	B:EntityHungryZombie=true
	B:EntityJumpingCreeper=true
	B:EntityLivingArmor=true
	B:EntityMiniCreeper=true
	B:EntityMiniEnderman=true
	B:EntityMummy=true
	B:EntityPaleSpider=true
	B:EntitySkeleton=true
	B:EntitySpider=true
	B:EntitySpitfireSkeleton=true
	B:EntitySplittingCreeper=true
	B:EntityThiefSkeleton=true
	B:EntityWitch=true
	B:EntityZombie=true
	B:EntityZombieVillager=true
	B:Entity_SpecialCreeper=true
	B:Entity_SpecialEnderman=true
	B:Entity_SpecialSkeleton=true
	B:Entity_SpecialSpider=true
	B:Entity_SpecialWitch=true
	B:Entity_SpecialZombie=true
	B:MoCEntitySilverSkeleton=true
	B:MoCEntityWerewolf=true
}